aiogram
aiohttp
aiosignal
async-timeout
attrs
Babel
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
propcache
pyaes
pyasn1
pytz
rsa
Telethon==1.38.1
typing_extensions
yarl
python-telegram-bot
requests>=2.31.0
flask
gunicorn
Pillow
google-api-python-client>=2.100.0
google-auth>=2.26.1
google-auth-oauthlib>=1.0.0
