aiogram
aiohttp
aiosignal
async-timeout
attrs
Babel
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
propcache
pyaes
pyasn1
pytz
rsa
Telethon==1.38.1
typing_extensions
yarl
python-telegram-bot
requests
flask
gunicorn
Pillow
google-api-python-client
google-auth
google-auth-oauthlib
