aiogram
aiohttp
aiosignal
async-timeout
attrs
Babel
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
propcache
pyaes
pyasn1
pytz
rsa
Telethon
typing_extensions
yarl
python-telegram-bot
requests
flask
gunicorn
